* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* NAVBAR */
.logo {
    width: 150px;
}
nav{
    height: 85px;
}

.navbar{
    transition: 0.5s;
}

.bg-dark{
    transition: 0.5s;
}
.collapse .bg-dark{
    transition: 0.7s;
}

.test{
    background-color: brown;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-nav{
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}
.nav-link{
    font-weight: bold;
    margin-left: 25px;
}

nav .nav-item__contacto{
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 60px ;
    margin-right: 10px;  
    padding: 5px 25px; 
    color: #212529 !important;
    background-color: #e7e7ed;
    border-radius: 20px;
}
@media screen and (max-width: 991px) {
    .mobile-bg{
        background-color: black;
    }
    .nav-link{
        margin-left: 0;
    }
    nav .nav-item__contacto{
        margin: 0;
    }
    .d-flex .justify-content-end{
        justify-content: center;
    }
}

/* gif-background */
.space-navbar{
    height: 85px;
}
.gif-background {
    background-image: linear-gradient( -45deg,  rgba(96,221,142,0.7) 8.7%, rgba(24,138,141,0.7) 88.1% ),url('../img/gif-coder.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 500px;
    position: relative;
    
}

.button-white {
    background: none;
    border-style: solid;
    border-width:2px;
    border-color: white;
    font-weight: bold;
    color: white;
    padding: 15px;
    border-radius:50px;
    text-decoration:none;
}
.button-white:hover {
    background-color: white;
    color: black;
}

.logo-animation img{
    width: 250px;
}

.primary-text{
    color:white;
    font-weight: bold;
    font-size: 30px;
}

.description{
    color: white;
    margin-top: 25px;
    margin-bottom: 45px;
}
.top__logo-SGI-vert{
    margin-left: 265px;
}

.wave-white {
    bottom: -1px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}
.wave-white img {
    width: 100%;
}

/*Fade Animation*/
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* Fin Fade Animation*/

/* System Caracteristics */

.system-caracteristics{
    text-align: center;
}
.system-caracteristics h2{
    font-weight: bold;

}
.system-caracteristics__card{
    display: inline-block;
    text-align: center;
    margin: 10px;
    background-color: #F9F9F9;
    border-radius: 5px;
    /**/
    color: black;
    font-size: 15px;
    border-bottom: solid 6px #F9F9F9;
    
}

.system-caracteristics__card:hover{
    --angle: 0deg;
  border-image: linear-gradient(var(--angle),  #378889,#5cb388) 1;  /*  GRADIENT ORIGINAL 
  
  border-bottom: solid 6px black;
  border-image-outset: 0;
   /* border-image: linear-gradient(var(--angle),  #ff3232,#6441ff) 1; */
  animation: 1s rotate linear infinite;
  transition: 1s;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  cursor:pointer;
}
/* ANIMACION DEL GRADIENT */
@keyframes rotate {
  to {
    --angle: 360deg;
  }

}
@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }
  /* FIN ANIMACION DEL GRADIENT */
.system-caracteristics i{  
    font-size: 35px;
    margin-bottom: 10px;
    background: linear-gradient( -45deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 20px;
}

.caracteristics--card-title{
    font-weight: bold;
    letter-spacing: 1.2px;
}

.EspacioBlanco{
    height: 150px;
}

 /* -- ESTILOS DEL POP UP-- */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.493); /* Black w/ opacity */
    border-radius: 0px;
    
  }
  
  
.modal-header {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%);
    color: black;
    border-radius: 0px;
    text-align: center;
    padding: 10px 16px;
    margin-bottom: 14px;
    border-bottom: none;
  }
  .modal-header h2{

      margin: 10px auto;
      font-weight: bold;
  }
  
  .modal-body {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 2px 20px;
      text-indent: 10px;
      line-height: 1.3rem;
      align-items: center;
    }
    .modal-body p{
        width: calc(100% - 120px);
    }
    .modal-body .img-popup{
       
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 6px;
        padding-right: 7px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .img-Modular{
        background-image: url("../img/esquema_modular4.jpg");
    }
    .img-Controladores{
        background-image: url("../img/impresora_fiscal1.jpg");
    }
    .img-Codigo{
        background-image: url("../img/codigo_barras2.jpg");
    }
    .img-Facturas{
        background-image: url("../img/factura_electronica1.jpg");
    }
    .modal-footer {
        margin: 0;
        margin-top: 17px;
        padding: 0;
        background-image: linear-gradient( -45deg,  rgba(96,221,142,0.7) 8.7%, rgba(24,138,141,0.7) 88.1% );
        color: white;
        height: 33px;

      }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 30% auto;
    padding: 0;
    border: none;
    border-radius: 0px;
    width: 60%;
    min-width: 300px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animateleft;
    animation-duration: 0.4s
  }
  
  /* Animacion */
  @keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
  }
  /* Boton de cerrar */

  .close-modular,
  .close-Controladores,
  .close-codigo,
  .close-facturas {
    align-self: flex-start;
    justify-self: flex-start;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-modular:hover,
  .close-modular:focus,
  .close-Controladores:hover,
  .close-Controladores:focus,
  .close-codigo:hover,
  .close-codigo:focus,
  .close-facturas:hover,
  .close-facturas:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  @media (min-width: 1200px) {
    .modal-content {
        top: -25%;
      }
      
    }