* {
    font-family: 'Rubik', sans-serif;
}

/* NAVBAR */
.logo {
    width: 150px;
}
nav{
    height: 85px;
}
.milista{
    background-color: #212529;
}
.navbar-nav{
    align-self: flex-end;
    justify-content: center;
    align-items: center;
}
.nav-link{
    margin-left: 25px;
}

nav .nav-item__contacto{
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 60px ;
    margin-right: 10px;  
    padding: 5px 25px; 
    color: #212529 !important;
    background-color: #e7e7ed;
    border-radius: 20px;
}
@media screen and (max-width: 600px) {
    .nav-link{
        margin-left: 0;
    }
    nav .nav-item__contacto{
        margin: 0;
    }
    .d-flex .justify-content-end{
        justify-content: center;
    }
}

/* gif-background */
.gif-background {
    background-image: linear-gradient(90deg, rgba(0,93,78,0.7203256302521008) 0%, rgba(0,73,73,0.6867121848739496) 35%, rgba(1,80,80,0.6979166666666667) 100%),url('../img/gif-coder.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 300px;
    position: relative;
}

.contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo-animation{
    width: 300px;
}

.texto{
    color:white;
    font-weight: bold;
    font-size: 30px;
}

.white-button{
    border-style: solid;
    border: 15px;
    border-color: white;
    color: white;
    background: none;
}
